@CHARSET "UTF-8";

body{
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 50px black inset, 5px 5px 0 #cecece;
    -moz-box-shadow: 0 0 50px black inset, 5px 5px 0 #cecece;
    -webkit-box-shadow: 0 0 50px black inset, 5px 5px 0 #cecece;
}
}

.main {
	margin-left:150px;
}
#check{
	width:30px;
}
table:hover{
	background-color:gray;
}

table{
	cellpadding:10px;
	cellspacing:10px;
	width:60%;
}
#cartImg{
	height:300px;
	width:330px;
}
.cartText{
	font-size:18px;
}
.destination{
	height:200px;
}
.destination:hover{
	background-color:bisque;
}

td.img{
}
td.text{
	width:500px;
}
td{
	text-align:left;
	letter-spacing:1px;
	padding:5px;
	}
td:not(:last-child){
	padding:10px;
}

.cart{
	position: relative;
	color: black;
	background: linen;
	font-size: 24px;
	line-height: 1;
	margin: 30px -10px 10px -10px;
	padding: 15px 5px 12px 10px;
	width:70%;
}
.cart:after {
	content: " ";
	position: absolute;
	top: 100%;
	left: 20px;
	height: 0;
	width: 0;
	border: 10px solid transparent;
	border-top: 10px solid linen;
}


