@CHARSET "UTF-8";




.main-container{
	width: 95%;
	margin: 0 auto;
	margin-top:70px;
	background-color: #ffffcc;
}

.left{
	display:block;
	float:left;
	width:50%;
	height:400px;
	margin-bottom:200px
	background-color:;
}

.right{
	float:left;
	width:50%;
	height:400px;
	margin-bottom:200px;
	background-color:;
}

 .image{
	width:100%;

}

.product-right{
    margin-top:0px;
	margin-left:0px;
	padding: 20px 40px;
/* 	height: max-content; */
	background-color:;
}
.kana{
	font-size:30px; /* 表示値段の大きさ */
}

.aa{
	clear:left;
}

/*  .sameCategoryList{
	-webkit-align-content: stretch;
	align-content:	space-around;
	justify-content: space-around;
	display: flex;
	flex-flow: row wrap;
	box-sizing:border-box;
	background-color: #ffffcc;
}
.sameCategoryList :hover{
	opacity:0.8;
} */

 .item {
   width: 230px;
   margin-bottom:38px;
   padding: 8px;
   border:1px outset;
   border-bottom: 3px solid;
   border-radius: 10px;
   background-color: #ffffcc;
   float:left;
   margin:20px 70px;
   }

 .item .itemImage{
   width: 230px;
   height:200px;
 }

 .item-pr,
 .item-pr .name::before
 .item-pr .name::price {
   border-color: red;
 }

 .item > a {
   display: block;
   margin: -8px -8px -11px;
   padding: 8px 8px 11px;
   border-radius: inherit;

   transition: all 0.3s;
 }

 .item > a:hover {
   box-shadow: 7px 5px 2px 7px rgba(0, 0, 0, 0.5);
   opacity: 0.8;
   }


 a:link, a:visited, a:hover, a:active {
 	color:black;
   text-decoration: none;
   }

ul{
	list-style:none;
}


h1{
	color: black;
	font-size : 30px;
	margin-left:80px;
}

 .image-souldout {
    position: relative;

}
.png {
    position: absolute;
    left: 0px;
    top: 0px;
    width:100%;
}

.png2{
   position: absolute;
   top:0px;
   left:0;
   width: 230px;
   height:200px;
 }

 .stock{
 	color:red;
 	font-size:12px;
 	}