@CHARSET "UTF-8";

#seach{
	clear:both;
}

select{
	float: left;
}
#searchform4 {
    width: 200px;
    background: url(../img/input4.gif) left top no-repeat;
    display: block;
    height: 24px;
    position: relative;
    float: left;
}
#keywords4  {
    width: 156px;
     position: absolute;
    top: 3px;
   left: 12px;

    border: 1px solid #FFF;
}
#searchBtn4 {
    position: absolute;
    top: 3px;
    left: 174px;
}
